/cmake/*
/src/test/*/build/
/src/*
/*
.*
!/cmake/
!/cmake/Platform/
!/cmake/Ports/
!/cmake/TBB/
!/cmake/Threads/
!/cmake/Triplets/
!/cmake/Format.cmake
!/cmake/VcpkgImportLibrary.cmake
!/src/
!/src/cmake/
!/src/test/
!/src/win.cmake
!/.gitattributes
!/.gitignore
!/make.cmd
!/makefile
!/readme.md
!/sys.cmake
!/web.cmake
!/win.cmake
