/src/ports/*/build/
/src/ports/*/src/
/src/ports/*/test/
/src/ports/*/src.tar
/src/ports/*/src.tar.gz
/src/ports/*/src.tar.xz
/src/tests/*/build/
/src/*
/sys/*
/*
.*
!/cmake/
!/src/
!/src/ports/
!/src/tests/
!/src/tests/.clang-format
!/src/tests/.clang-tidy
!/src/arch.cmake
!/src/bash.sh
!/src/build.wsb
!/src/stage.cmake
!/src/*.mk
!/sys/
!/sys/*.cmake
!/.gitattributes
!/.gitignore
!/format.cmake
!/make.cmd
!/makefile
!/readme.md
!/toolchain.cmake
