---
CompileFlags:
  Add: [ -std=c++26, -fno-exceptions, -fno-rtti ]
  CompilationDatabase: build
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  MissingIncludes: None
  UnusedIncludes: Strict
InlayHints:
  Enabled: No
---
If:
  PathMatch: src/main.cpp
Diagnostics:
  Suppress:
    - unused-includes
...
